@import url('https://fonts.googleapis.com/css?family=Roboto|Sumana');

body {
  max-width: 960px;
  margin: 0 auto;
  font-family: ,helvetica,sans-serif;
  font-size: 16px;
  color: rgb(1, 1, 1,);
  line-height: 1.5;
  text-align: center;

}


header{
  font-size: 20px;
  font-family: Sumana;
}

h1 {
  width: 200px;
  font-family: Roboto, helvetica;
  border: 50px rgb(153,153,255);
  border-style:groove;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 6px;
}

li {
  display: inline;
  padding: 15px;
}

a {
  color: rgb(1,1,1);
}

a:visited {
  color: #990000;
}

a:hover {
  color: #000066;
}

a:active {
  color: #6600CC;
}

h2 {
  font-family: serif;
  color: rgb(1,1,1);
  text-align:center;
}

h3 {
  font-family: helvetica;
  color: rgb(1,1,1);
}

p {
  text-align: center;
}

#experience {
  float: right;
  border: 2px solid rgb(153,153,255);
  padding: 10px 70px;
  margin: 20px;
}

#experience:hover {
  background-color:#CCCCFF;
}

#skills {
  float: left;
  border: 2px solid rgb(153,153,255);
  padding: 10px 70px;
  margin: 20px;
}

#skills p {
  display: list-item;
  list-style-type:none;
  line-height: 50;
  text-align: center;
  p
}

#skills:hover {
  background-color:#CCCCFF;
}

#education {
  border: 2px solid rgb(153,153,255);
  margin: 20px;
  padding: 10px 70px;
  text-align:center;
}

#education:hover {
  background-color:#CCCCFF;
}

#certifications {
  border: 2px solid rgb(153,153,255);
  margin: 20px;
  padding: 10px 70px;
}

#certifications:hover {
  background-color:#CCCCFF;
}
